---
layout: page
title: Schedule
---
	
<article>

  {% if site.draft %}
  <h2>Draft Version</h2>
  {% endif %}
 
  {% for post in site.posts reversed %}
  {% if post.layout == "workshop" %}
  <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> ({% if post.organizers %}{% for organizer in post.organizers %}{% if organizer.url %}<a href="{{ organizer.url }}">{% endif %}{{ organizer.firstname }} {{ organizer.lastname }}{% if organizer.url %}</a>{% endif %}{% if post.organizers | size>1 %}, {% endif %}{% endfor %}{% endif %} {{ post.date | date: "%A, %B %-d" }})</p>
  {% endif %}
  {% endfor %}
  
  {% for post in site.posts reversed %}
  {% if post.layout == "day" %}
  <p><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%A, %B %-d" }}</a>  <i>{{ post.tagline }}</i> </p>
  
  {% for talk in post.talks %}
  <p>{{ talk.start | date: "%H:%M" }} {% if talk.end %}- {{ talk.end | date: "%H:%M" }}{% endif %} <b>{{ talk.title }}</b> {% if talk.spurl %}<a href="{{ talk.spurl }}">{{ talk.speaker }}</a>{% else %} {{ talk.speaker }} {% endif %}{% if talk.institute %}, {{ talk.institute }}{% endif %}</p>
  {% endfor %}
  {% endif %}
  {% endfor %}

   {{ content }}
  

</article>


	
	
