---
layout: page
---

<article>
 The conference is on Wednesday, 16th December, in room High Tor 2, <a href="https://www.sheffield.ac.uk/ssid/maps/edge">The Edge</a>, Endcliffe, 34 Endcliffe Crescent, Sheffield. S10 3ED</p>.
 <p>Link to <a href="https://goo.gl/maps/mq7VqUmdLNk">google maps</a>)</p>. 
 <p>Bus number 120 leaves every 5 or 10 minutes from the bus station (a 5 minute walk from the train station).</p>
 <p>Car parking is available near the conference venue, if you need to park, please <a href="mailto:m.t.smith@sheffield.ac.uk">contact us</a> in advance.</p>
</article>


